.navigate {
    height: 50px;
    text-align: center;
    z-index: 10;
    background-color: #b99f63;
}

.fixed {
    position: fixed;
    top: 104px;
    right: 0;
    left: 0;
}

.link {
    display: block;
    width: auto;
    margin: 0 1rem;
    color: #000;
    text-align: center;
    transition: .5s ease-in-out;
}

.link:hover {
    color: #000;
    text-decoration: underline;
    transform: scale(1.1);
}

.ul {
    /*background-color: red;*/
}

.li {
    display: inline-block;
    z-index: 1;
}
